# Dependencies
node_modules/

# Environment files
.env
.env.*
.env.local
.env.development
.env.production
.env.test
!.env.example

# Build artifacts
dist/

# Firebase & Secrets
service-account.json
vercel-env.json
*.pem
*.key

# Logs
*.log
npm-debug.log